$gray-background: rgb(145, 145, 145);
$text-white: floralwhite;

.jumbotron{
    background-color: $gray-background;
    color: $text-white;
}
.footer{
    background-color: $gray-background;
    color: $text-white;
    margin: 0px auto;
    padding: 10px;
}

 