$gray-background: rgb(145, 145, 145);
$text-white: floralwhite;

.jumbotron{
    background-color: $gray-background;
    color: $text-white;
}
.footer{
    background-color: $gray-background;
    color: black;
    margin: 0px auto;
    padding: 10px;
    padding-top: 20px;

    .footer-nav {
        color: black;
    }
}

.row{
    padding-bottom: 50px;
}

.logo {
    width: auto;
    max-width: 90px;
}