.jumbotron {
  background-color: #919191;
  color: floralwhite; }

.footer {
  background-color: #919191;
  color: floralwhite;
  margin: 0px auto;
  padding: 10px; }

.row {
  padding-bottom: 50px; }

.logo {
  width: auto;
  height: 50px; }
