.jumbotron {
  background-color: #919191;
  color: floralwhite; }

.footer {
  background-color: #919191;
  color: black;
  margin: 0px auto;
  padding: 10px;
  padding-top: 20px; }
  .footer .footer-nav {
    color: black; }

.row-content {
  padding-bottom: 50px; }

.logo {
  width: auto;
  max-width: 90px; }
